body {
    margin: 0;
    font-family: sans-serif;
}

.cover {
    width: 100%;
    height: 250px;
    background-image: url("https://scontent.frmq4-2.fna.fbcdn.net/v/t39.30808-6/488220431_600699739680774_1302792377442457419_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=100&ccb=1-7&_nc_sid=2a1932&_nc_ohc=48udMiQs-moQ7kNvwELnu7O&_nc_oc=AdrVhmQ-OY1lH0QqlOgZJzN_L-SnmjXv-e-rtCMXipVxiohPDWXDUaz4LlpMBykqQ6FOvjRpUbxSizvWB9sxFIFj&_nc_zt=23&_nc_ht=scontent.frmq4-2.fna&_nc_gid=rJOlddrWG7cgkPd-GfyHbg&_nc_ss=7a3a8&oh=00_Af2dUEwkBXSppdOvfOsHEP7qkpPafHCUd_Wm91Q8VQZOSA&oe=69E6715E");
    background-size: cover;
    background-position: center;
    position: relative;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;

    position: absolute;
    bottom: -60px;
    left: 30px;
}

.profile-info {
    margin-top: 70px;
    padding-left: 30px;
}